*.pyc
/frontend/dist
frontend/node_modules/.cli-ngcc/92db8f926109e6536c76d0214614460d037613a1c47dde179ad35ce54935df86.lock
frontend/node_modules/__ngcc_entry_points__.json
frontend/node_modules/.cache/
